<p> What are you searching for? </p>
<%= link_to "Add New Product", new_product_path %>
<%= form_with url: products_path, method: :get do %>
    <%= text_field_tag :product %>
    <%= submit_tag :Search %>
<% end  %>

 <%= render @products %>
